body{
	padding: 			0px !important;
	margin:				0px !important;
}

.blog{
	padding: 			0px 0px 1em 0px !important;
	margin:				0px !important;
	border-radius: 		0px !important;
}

.article .comments{
	padding-left:		0px !important;
	padding-right:		0px !important;
}

img{
	max-width: 			100%;
}

div .tableofcontents{
	display:				block 	!important;
	float:					none 	!important;
}

div[class$="area"]{
	padding-top:			0.5em !important;
	padding-bottom:			0.5em !important;
}

div[class$="area"]:not(.downloadarea){
	overflow: 				visible;
}

.articlecontent table.tablefloat{
	float:					none !important;
}

.articlecontent table.tablefloatleft{
	float:					none !important;
	padding:				1.5ex !important;
	margin: 				1ex !important;	
}


.tagcloud{
	width:					90% !important;
	margin-left:			5% 	!important;
}