					<div class="article">
						<div class="info"><span class="infospan">
							<span class="date">${datetime}</span>&nbsp;
							<span class="author">written by ${author}</span>
						</span></div>
						<div class="title">${title}</div>
						<div class="articlecontent">
							${image}
							${content}
						</div>
						${readmore}
						${tags}
						${share}
					</div>
